<!-- document의 title -->
<title><%= title %></title>

<!-- Bootstrap cdn -->
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
  crossorigin="anonymous"
/>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
  crossorigin="anonymous"
></script>

<!-- common css -->
<link rel="stylesheet" href="/public/css/index.css" />
<!-- app.use('/public', express.static(__dirname + '/static')); 형식으로 작성했기 때문에 접근 시 static이 아닌 public으로 접근해야 함 -->
<!-- <link rel="stylesheet" href="/static/css/index.css" /> -->

<!-- common js -->
<script src="/public/js/index.js"></script>
