body {
  /* 
    웹 폰트
    - 모든 브라우저에서 보는 폰트를 동일
    - 폰트는 다운로드하는 것이 아니라 link 태그에 걸려있는 주소에서
      폰트를 가져오는 형식
    - 보통 기본 폰트는 body 태그에 작성
  */
  font-family: 'Noto Sans KR', sans-serif;
}

div {
  /* 색상 */
  color: royalblue;

  background-color: pink;
  /* background gradient */
  /* background: linear-gradient(blue, pink); */
  /* background: linear-gradient(to right, blue, pink); */
  /* background: linear-gradient(70deg, blue, pink); */

  /* 폰트 */
  font-size: 50px;

  /* 
    폰트 굵기
      - lighter, normal, bold, bolder
      - 100 ~ 900
  */
  font-weight: 900;

  /* 폰트 모양: normal, italic, oblique */
  font-style: italic;

  /* 정렬: center, left, right, justify(양쪽정렬) */
  text-align: center;

  /* 글자 선: underline, lint-through, overline, none */
  text-decoration: underline;

  /* 줄 높이: px, 1.2(default) */
  /* line-height: 70px; */

  /* 크기 */
  /* 반응형을 위한 속성: min-width(최소 넓이), max-width(최대 넓이), min-height(최소 높이), max-height(최대 높이) */
  width: 300px;
  height: 200px;

  /* 테두리 */
  /* border-style: solid;
  border-width: 4px;
  border-color: lime; */
  /* 테두리 단축 프로퍼티 */
  border: solid 4px lime;
  /* 한 쪽 모서리만: -top, -bottom, -left, -right */
  /* border-top: solid 4px lim; */
  border-radius: 20px;

  /* 여백 */
  /* padding-top, padding-bottom, padding-left, padding-right */
  /* margin-top, margin-bottom, margin-left, margin-right */
  padding: 20px;
  margin: 50px;

  /* 박스 모델: content-box(default), border-box */
  box-sizing: content-box;
}
