<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인 페이지</title>
    <style>
      input {
        margin: 5px;
      }
      button {
        margin-top: 10px;
      }
    </style>
  </head>
  <body>
    <label for="id">아이디</label>
    <input type="text" id="id" />
    <br />
    <label for="passwd">비밀번호</label>
    <input type="text" id="passwd" />
    <br />
    <label for="saveLoginInfo">자동 로그인</label>
    <input type="checkbox" id="saveLoginInfo" />
    <br />
    <button type="submit">로그인</button>
  </body>
</html>
